# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/Autotrade

# Server Configuration
PORT=3000
NODE_ENV=production

# CJ Dropshipping API
CJ_API_BASE_URL=https://developers.cjdropshipping.com/api2.0
CJ_API_KEY=your_cj_api_key
CJ_EMAIL=your_cj_email@domain.com



# JWT Authentication
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=7d

# Stripe Payment Gateway
STRIPE_SECRET_KEY=your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=your_stripe_webhook_secret
STRIPE_RETURN_BASE_URL=http://127.0.0.1:3000





# Admin Secret Registration Code
ADMIN_SECRET_CODE=your_admin_secret_code
